<html>
<head>

    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}" />

    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body class="{body.class}">
<!-- Page Wrapper -->
<div class="wrapper">
    <!-- Header -->
    <div class="header">
        <!-- Logo -->
        <a class="logo" href="/">
            <img src="public/logo2.png" alt="Logo" />
        </a>
        <!-- Navigation -->
        <ul class="menu">
            <li class="loggedOut">
                <a href="/">Home</a>
            </li>
            <li class="loggedOut">
                <a href="/signup">Signup</a>
            </li>
            <li class="loggedOut">
                <a href="/login">Login</a>
            </li>
            <li class="loggedIn cart">
                <i data-count="0" class="fas fa-shopping-cart fa-2x badge inactive cart-item-count"></i>
            </li>
            <li class="loggedIn">
                <a href="/items/available">Dashboard</a>
            </li>
            <li class="loggedIn">
                <a href="/orders">My Orders</a>
            </li>
            <li class="loggedIn">
                <a href="/account/edit">Account Settings</a>
            </li>
            <li class="loggedIn">
                <a href="#" id="logoutButton">Logout</a>
            </li>
        </ul>

        <div class="clear"></div>
    </div>

    <!-- Page-Specific Content -->
    <div class="content">
