<div class="card" id="{item.id}" data-bought="{item.bought}">
  <div class="image">
    <img src="{item.image}">
  </div>
  <div class="card-content">
    <div class="card-header">{item.name}</div>
    <div class="meta"></div>
    <div class="description">
      {item.description}
    </div>
  </div>
  <div class="extra card-content">
    <span class="right floated">
      ${item.price}
    </span>
    <span class="item-bought">
      <!--<i class="user icon"></i>-->
      <!--Ordered {item.bought}-->
    </span>
  </div>
</div>
