<h1>Welcome!</h1>
<h2>Checkout our delicious staff</h2>
<hr />
  <div class="ui link cards">
    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
      </div>
      <div class="card-content">
        <div class="card-header">Matt Giampietro</div>
        <div class="meta"></div>
        <div class="description">
          Matthew is an interior designer living in New York.
        </div>
      </div>
      <div class="extra card-content">
      <span class="right floated">
        Joined in 2013
      </span>
        <span>
        <i class="user icon"></i>
        75 Friends
      </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/molly.png">
      </div>
      <div class="card-content">
        <div class="card-header">Molly</div>
        <div class="meta"></div>
        <div class="description">
          Molly is a personal assistant living in Paris.
        </div>
      </div>
      <div class="extra card-content">
        <span class="right floated">
          Joined in 2011
        </span>
        <span>
          <i class="user icon"></i>
          35 Friends
        </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/elyse.png">
      </div>
      <div class="card-content">
        <div class="card-header">Elyse</div>
        <div class="meta"></div>
        <div class="description">
          Elyse is a copywriter working in New York.
        </div>
      </div>
      <div class="extra card-content">
      <span class="right floated">
        Joined in 2014
      </span>
        <span>
        <i class="user icon"></i>
        151 Friends
      </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/elyse.png">
      </div>
      <div class="card-content">
        <div class="card-header">Elyse</div>
        <div class="meta"></div>
        <div class="description">
          Elyse is a copywriter working in New York.
        </div>
      </div>
      <div class="extra card-content">
      <span class="right floated">
        Joined in 2014
      </span>
        <span>
        <i class="user icon"></i>
        151 Friends
      </span>
      </div>
    </div>
  </div>
